html{
	display: initial;
}
body{
	display: initial;
}
.enter-information{
	overflow-y: scroll;
	padding-bottom: 47px;
}
/*@media only screen and (min-width: 768px) {*/
	.coming-soon{
		width: 266px;
		height: 157px;
		background: url(../../img/icon/eventBack.svg) no-repeat;
		left: auto;
		right: 39px;
		opacity: 1;
		animation: none;
	}
	.coming-soon p:nth-child(2){
		margin-top: 10px;
	}
	.coming-soon>hr{
		margin-top: 18px;
	}
	#Events{
		width: 100%;
		height: 125px;
		background: url(../../img/index/banner01.jpg) no-repeat 0px -400px;
		position: relative;
		overflow: visible;
	}
	.event-content{
		bottom: auto;
		top: 18px;
		left: 126px;
	}
	.enter-information{
		background: white;
		padding: 57px 0px 0px 125px;
	}
	.enter-information h5{
		font-size: 14px;
		font-weight: bold;
		margin-top: 0px;
	}
	.enter-information .ticket-type ul li{
		width: 384px;
		height: 112px;
		border-radius: 4px;
		box-sizing: border-box;
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0px 9px 31px 0px rgba(40, 39, 57, 0.07);
		padding: 19px 24px 20px 28px;
		position: relative;
		margin-right: 30px;
		margin-top: 28px;
		margin-bottom: 45px;
	}
	.enter-information .ticket-type ul li>div>span{
		font-weight: 500;
		font-size: 14px;
	}
	.enter-information .ticket-type ul li>div>p.pull-right{
		color: #FF053C;
		font-weight: 300;
		font-size: 12px;
	}
	.enter-information .ticket-type ul li>div>p.pull-right>span{
		font-weight: bold;
		font-size: 16px;
	}
	.enter-information .ticket-type ul li>div:nth-child(2){
		margin-top: 19px;
		font-weight: 300;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money{
		font-size: 12px;
	}
	.enter-information .ticket-type ul li .border{
		width: 7px;
		height: 100%;
		border-radius: 4px;
		background: linear-gradient(#FFCD17,#FF9900);
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.enter-information .ticket-type ul li.none-ticket>div>p.pull-right{
		color: #42464D;
	}
	.enter-information .ticket-type ul li.none-ticket>div>p.pull-right>span{
		font-weight: 300;
		font-size: 12px;
	}
	.enter-information .ticket-type ul li.none-ticket .border{
		background: #E4E4E4;
	}
	.now-price{
		font-size: 20px;
	}
	/*早鸟票*/
	.early-bird{
		background: url(../../img/icon/bird.svg) no-repeat right;
	}
	.none-ticket{
		background: url(../../img/icon/sold.svg) no-repeat right;
	}
	.personnal{
		width:100%;
	}
	.personnal .form-group{
		display:inline-block;
		/*width: 210px;*/
		margin-top: 20px;
	}
	
	.personnal .form-group label{
		font-weight: normal;
		display: block;
	}
	.personnal .form-group input{
		margin-top: 8px;
		font-size: 12px;
		padding-left: 12px;
		box-sizing: border-box;
		display: inline-block;
	}
	.personnal .form-group label span{
		color: #E51152;
		margin-right: 5px;
	}
	.personnal .form-group input.input-width-long{
		width: 70%;
	}
	.personnal .form-group input.input-width-short{
		width: 27%;
		background: url(../../img/icon/select.svg) no-repeat right center;
	}
	.personnal>div{
		padding-bottom: 30px;
		margin-bottom: 25px;
		border-bottom: 1px dashed rgba(151,151,151,0.2);
	}
	.personnal>button{
		display: block;
		width: 99px;
		height: 33px;
		border-radius: 2px;
		border: 1px solid rgba(151, 151, 151, 0.4);
		background: transparent;
		font-weight: bold;
		margin-bottom: 25px;
	}
	
	.attention{
		margin-top: 45px;
		margin-bottom: 47px;
	}
	.pay{
		width: 100%;
		height: 60px;
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0px -6px 13px 0px rgba(0, 0, 0, 0.04);
		box-sizing: border-box;
		padding: 0px 87px 0px 119px;
		line-height: 60px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		z-index: 1;
	}
	.pay button{
		width: 125px;
		height: 33px;
		border-radius: 2px;
		background-color: rgba(43, 42, 62, 1);
		box-sizing: border-box;
		text-align: center;
		line-height: 33px;
		border: none;
		color: white;
	}
	.pay button img{
		margin-right: 10px;
		margin-top: -1px;
	}
	.pay div span.font-num{
		color: #FF8500;
		font-size: 20px;
		margin-right: 20px;
	}
	.pay div span.type{
		font-size: 14px;
		font-weight: normal;
	}
	
	/*注意事项*/
	.sure{
		cursor: pointer;
	}
	.sure>i{
		width: 10px;
	    height: 10px;
	    border-radius: 2px;
	    border: solid 1px #d5dce2;
	    margin-right: 10px;
	}
/*}*/
@media screen and (min-width:768px ) {
	.allEvents{
		height: 100%;
	}
	.personnal {
	    width: 85%;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money p{
		float: left;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money p.old-price{
		position: relative;
		top: 11px;
		margin-right: 13px;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money p:last-child{
		position: relative;
		top: 5px;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money p.old-price:before{
		content: "";
		display: inline-block;
		width: 100%;
		height: 1px;
		background: #FF053C;
		position: absolute;
		top: 50%;
		left: 0px;
		transform: rotate(5deg);
	}
	.personnal .form-group{
		width: 210px;
		margin-right: 91px;
	}
	.personnal .form-group.form-width{
		width: 314px;
	}
	.allEvents{
		position: relative;
	}
	.enter-information{
		height: 75%;
	}
	.pay{
		bottom: 0px;
	}
	.pay button{
		margin-top: 15px;
	}
}

@media screen and (max-width: 768px) {
	body{
		background: white;
	}
	.navbar{
		background: #282739;
	}
	.mobile-events{
		background: white;
		padding: 0.6rem 0rem 0rem 0.8rem;
		height: auto;
	}
	.mobile-events>div>p{
		margin-top: 0.4rem;
		font-size: 0.56rem;
	}
	.mobile-events>div>p>span{
		font-size: 0.52rem;
	}
	.mobile-events>div{
		padding-bottom: 0.8rem;
		border-bottom: 0.04rem solid rgba(151,151,151,0.4);
	}
	.enter-information {
	    padding: 1rem 0.8rem 1.6rem 0.8rem;
	}
	.enter-information .ticket-type ul li {
	    width: 11rem !important;
	    height: 4.48rem !important;
	    border-radius: 0.16rem;
	    box-shadow: 0px 0.36rem 1.24rem 0px rgba(40, 39, 57, 0.07);
	    padding: 0.6rem 0.8rem 0.64rem 1.4rem;
	    /*margin-left: 0.92rem;*/
	    margin-top: 0.8rem;
	    margin-bottom: 1rem;
	}
	.enter-information .ticket-type ul li>div>span {
	    font-size: 0.56rem;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money p {
	    float: none;
	    position: relative;
	}
	.enter-information .ticket-type ul li>div:nth-child(2) .money p.old-price:before{
		content: "";
		display: inline-block;
		width: 100%;
		height: 1px;
		background: #FF053C;
		position: absolute;
		top: 50%;
		left: 0px;
		transform: rotate(5deg);
	}
	.ticket-type{
		overflow: hidden;
	}
	.ticket-type>ul{
		width: 1000%;
	}
	.personnal .form-group{
		width: 100%;
	}
	.enter-information{
		height: 19rem;
	}
	.pay{
		position: absolute;
		left: 0px;
		bottom: 0rem;
		width: 100%;
		height: 2.4rem;
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0px -0.24rem 0.56rem 0px rgba(0, 0, 0, 0.04);
		padding: 0.6rem 0.8rem 0.52rem 0.8rem;
		line-height: 1.32rem;
	}
	.pay button{
		width: 4.8rem;
		height: 1.36rem;
		border-radius: 0.08rem;
		background-color: rgba(43, 42, 62, 1);
	}
	.pay div span.font-num{
		margin-right: 0.2rem;
	}
	.pay div span.cost{
		display: none;
	}
	.mobile-events{
		text-align: left;
	}
}