body{
	overflow-y: hidden;
}
.banner{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.banner>ul{
	position: relative;
	width: 100%;
	height: 100%;
	list-style: none;
}
.banner>ul>li{
	position: absolute;
	top: 0px;
	left: 0px;
	list-style: none;
	width: 100%;
	height: 100%;
}

.content-right>div>.open>p{
	font-weight: 300;
	opacity: 0.6;
}

.content-right>div>.open>ul>li{
	width: 21%;
	height: 100%;
	text-align: center;
	position: relative;
}
.content-right>div>.open>ul>li:first-child{
	margin-left: 0px;
}
.content-right>div>ul>li{
	text-align: right;
	margin-left: 15px;
}
.content-right>div>ul>li:first-child{
	margin-left: 0px;
}
.content-right>div>ul.more>li:last-child{
	opacity: 0.5;
}
.content-right>div>div.left-line{
	opacity: 0.4;
	border-left: 1px solid rgba(255, 255, 255, 1);
}
.content-right>div>.open>ul>li>span{
	position: absolute;
	left: 30%;
}

@media only screen and (min-width:768px ) {
	.banner>ul>li>img{
		width: 100%;
		height: 100%;
	}
	.content-right>div>div.left-line{
		width: 3px;
		height: 0px;
		margin-top: 78px;
		/*margin-bottom: 166px;*/
		position: relative;
	    -webkit-animation-name: leftLine;
	    animation-name: leftLine;
	    -webkit-animation-duration: 0.8s;  
	    animation-duration: 0.8s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards ;
	    animation-direction: cubic-bezier(0.19, 1, 0.22, 1);
	    -webkit-animation-delay:2s;
	    animation-delay:2s; 
	}
	.content-right{
		width: 84%;
		display: flex;
		justify-content: space-between;
		padding-left: 151px;
		margin-top: 120px;
		padding-right: 136px;
		position: relative;
	}
	
	.content-right>div{
		position: relative;
	}
	.content-right .animate-title{
		position: relative;
		opacity:0;
	    -webkit-animation-name: title;
	    animation-name: title;
	    -webkit-animation-duration: 1s;  
	    animation-duration: 1s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards ;
	    -webkit-animation-delay:0.5s;
	    animation-delay:0.5s; 
	}
	.content-right>div>div>h1:first-child{
		font-weight: 300;
		opacity: 0.6;
		margin-bottom: 10px;
	}
	
	ul.page{
		display: flex;
		padding-left: 0rem;
		position: absolute;
		bottom: 50px;
		left: 0px;
	}
	ul.page>li{
		margin-left: 15px;
		text-align: center;
		font-family: DIN-Condensed-Bold;
	}
	ul.page>li:first-child{
		margin-left: 0px;
	}
	ul.page>li.active{
		text-align: left;
	}
	ul.page>li.active>i{
		width: 100px;
		height: 1px;
		opacity: 0.6;
		background-color: rgba(255, 255, 255, 1);
		-webkit-animation-name: page;
	    animation-name: page;
	    -webkit-animation-duration: 1s; 
	    animation-duration: 1s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards;
		top: 0px;
	}
	ul.page>li.active>i>i{
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background: #F4BE3C;
		-webkit-animation-name: page;
	    animation-name: page;
	    -webkit-animation-duration: 1.5s; 
	    animation-duration: 1.5s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards;
	    -webkit-animation-delay:1s;
	    animation-delay:1s; 
	}
	.content-right>div>.open>p{
		font-size: 16px;
	}
	ul.page>li>i{
		width: 3px;
		height: 3px;
		background-color: rgba(255, 255, 255, 1);
		position: relative;
		top: 8px;
	}
	.content-right>div>.open{
		text-align: right;
		width: 330px;
		position: relative;
		margin-right: 0px;
		opacity:0;
	    -webkit-animation-name: title;
	    animation-name: title;
	    -webkit-animation-duration: 0.8s;  
	    animation-duration: 0.8s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards ;
	    -webkit-animation-delay:1s;
	    animation-delay:1s; 
	}
	.content-right>div>.open>ul{
		width: 300px;
		height: 57px;
		margin-top: 53px;
		margin-left: 30px;
		background: url('../../img/index/Group 15.png') no-repeat;
		background-size: cover;
	}
	.content-right>div>.open>h1>span{
		margin-right: 6px;
		margin-left: 13px;
		font-size: 28px;
		position: relative;
		top: 3px;
	}
	.content-right>div>.open>h1>img{
		width: 23px;
		height: 30px;
		position: relative;
		top: -2px;
	}
	.content-right>div>ul.more{
		display: flex;
		font-size: 16px;
		text-align: left;
		font-weight: 300;
		position: absolute;
		bottom: 50px;
		right:-20px;
		padding-left: 0px;
		opacity:0;
	    -webkit-animation-name: more;
	    animation-name: more;
	    -webkit-animation-duration: 0.8s;  
	    animation-duration: 0.8s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards ;
	    -webkit-animation-delay:1.5s;
	    animation-delay:1.5s; 
	}
	.content-right>div>.open>ul>li{
		font-size: 16px;
		line-height: 57px;
		margin-left: 16px;
	}
	.content-right>div>.open>ul>li>p>span{
		font-size: 28px;
	}
	.content-right>div>.open>p.view{
		font-size: 20px;
		opacity: 1;
		font-weight: normal;
		margin-top: 44px;
	}
	.content-right>div>.open>ul>li>span{
		bottom: -43px;
	}
	.content-right>div>.open>p.view>a.all-com{
		display: none;
	}
}
@media only screen and (max-width:768px) {
	.shade{
		width: 100%;
	}
	h1{
		font-size: 0.76rem;
	}
	.banner>ul>li>img{
		height: 100%;
	}
	.content-right>div>div>h1{
		font-size: 0.72rem;
	}
	.content-right>div>div>h1:first-child{
		font-size: 0.68rem;
		font-weight: 300;
	    opacity: 0.6;
	    margin-bottom: 0.2rem;
	}
	.page{
		position: absolute;
		bottom: 6rem;
		left: 2rem;
	}
	.page>li.active>i{
		animation: ;
	}
	.content-right>div>div.left-line{
		width: 0.04rem;
		height: 4rem;
		margin-top: 0.48rem;
		margin-bottom: 1.28rem;
	}
	.content-right>div>.open{
		text-align: left;
	}
	.content-right>div>.open>p{
		font-size: 0.44rem;
	}
	.content-right>div>.open>ul{
		width: 7rem;
		height: 1.32rem;
		background: url('../../img/index/Group 15.png') no-repeat;
		background-size: cover;
		margin-top: 0.84rem;
		padding-left: 0rem
	}
	.content-right>div>.open>h1>img{
		float: right;
		width: 0.6rem;
		height: 0.8rem;
		margin-left: 0.52rem;
	}
	.content-right>div>.open>ul>li{
		margin-left: 0.36rem;
		line-height: 1.32rem;
	}
	.content-right>div>.open>ul>li:first-child{
		margin-left: 0rem;
	}
	.content-right>div>ul.more{
		display: none;
	}
	.content-right>div>ul.page>li>span{
		display: none;
	}
	.content-right>div>ul.page>li.active>i{
		width: 2.16rem;
		opacity: 1;
	}
	.content-right>div>ul.page>li>i{
		width: 0.52rem;
		height: 0.08rem;
		opacity: 0.4;
		border-radius: 2px;
		background-color: rgba(216, 216, 216, 1);

	}
	.content-right>div>.open>ul>li>p>span{
		font-size: 0.7rem;
	}
	.content-right>div>.open>p.view{
		font-size: 0.52rem;
		opacity: 1;
		font-weight: normal;
		margin-top: 1.5rem;
	}
	.content-right>div>.open>ul>li>span{
		bottom: -1.08rem;
	}
	.content-right>div>.open>p.view>a.all-com{
		margin-left: 0.6rem;
	}
	.content-right>div>ul>li:first-child{
		margin-left: -0.4rem;
	}
	.navbar > .container-fluid .navbar-brand>img{
		width: 1rem;
		height: 0.64rem;
	}
	ul.page>li>i{
		position: relative;
		top: 10px;
	}
	ul.page>li.active>i{
		width: 100px;
		height: 1px;
		opacity: 0.6;
		background-color: rgba(255, 255, 255, 1);
		-webkit-animation-name: page;
	    animation-name: page;
	    -webkit-animation-duration: 1s; 
	    animation-duration: 1s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards;
		top: 0px;
	}
	ul.page>li.active>i>i{
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background: #F4BE3C;
		-webkit-animation-name: page;
	    animation-name: page;
	    -webkit-animation-duration: 1.5s; 
	    animation-duration: 1.5s;  
	    -webkit-animation-fill-mode: forwards ;  
	    animation-fill-mode: forwards;
	    -webkit-animation-delay:1s;
	    animation-delay:1s; 
	}
}
.shade{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 1;
	background-color: #2B2A3E;
	position: absolute;
	top: 0px;
	left: 0px;
	
}
