
body{
	overflow-x: hidden;
	background: #282739;
	width: auto;
}
p{
	margin: 0 0 0 0 ;
}
ul{
	padding-left: 0px;
}

/*全部赛事*/
.allEvents>ul>li>div.coming-soon{
	position: absolute;
	background: url('../../img/index/Group 7.svg') no-repeat;
	background-size: cover;
}
.allEvents>ul>li{
	position: relative;
	box-sizing: border-box;
}
.allEvents>ul>li>div.coming-soon>hr{
	opacity: 0.35;
}
.allEvents>ul>li>div.coming-soon>p:first-child{
    opacity: 0.6;
    font-weight: 300;
}
.allEvents>ul>li>div.coming-soon>p:nth-child(2){
	font-family: DIN-Condensed-Bold;
}
.allEvents>ul>li>div.event-content>p.year{
	font-family: DIN-Condensed-Bold;
	font-weight: 300;
	opacity: 0.6;
}
.allEvents>ul>li>div.event-content{
	color: white;
	position: absolute;
}
.allEvents>ul>li>div.event-content>p.area{
	opacity: 0.6;
	font-weight: 300;
}
.allEvents>ul>li>div.event-content>p.area>i{
    border-radius: 50%;
    background: white;
    position: relative;
}
.allEvents>ul>li>div.event-content>div.time>span.data{
	font-family: Georgia;
	
}
.allEvents>ul>li>div.event-content>div.time>span.week{
	display: inline-block;
	font-weight: 300;
	opacity: 0.6;
	transform: rotate(90deg);
	transform-origin: left;
	position: relative;
	font-family: Gilroy-Light;
}
.allEvents>ul>li>div.event-content>div.time>span.year{
	display: inline-block;
	font-family: Georgia;
	opacity: 0.6;
}
.zhezhao{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2B2A3E,#171628);
	opacity: 0.6;
}
.allEvents>ul>li>div.coming-soon.forward{
	background: none;
	color: white;
}

/*赛事详情*/
.details{
	width: 67%;
	height: 100%;
	overflow-y:scroll ;
	color: white;
	font-weight: 300;
	box-sizing: border-box;
	position: absolute;
	
}
.details>.title{
	display: flex;
	justify-content: space-between;
	width: 45%;
	margin:0 auto;
	margin-bottom: 43px;
}
.details>.title>li{
	opacity: 0.6;
	font-size: 16px;
}
.details>.title>li.active{
	opacity: 1;
	font-size: 18px;
}
.details>div>div.introduce,.details>div>div.event-origin,.details>div>div.event-features{
	display: flex;
	justify-content: space-between;
	
}
.details>div>div.introduce>div>ul{
	display: flex;
	padding-left: 0px;
}
.details>div>div.event-origin>div>ul.caro{
	position: relative;
}
.details>div>div.event-origin>div>ul.caro>li{
	position: absolute;
	top: 0px;
	bottom: 0px;
}


/*PC端*/
@media only screen and (min-width: 768px){
	.navbar{
		background-color: rgba(23, 23, 32, 0.15);
		border: 1px solid rgba(146, 146, 146, 0.15);

	}
	.allEvents{
		width: 84%;
	}
	.allEvents>ul{
		width: 1000%;
		padding-left: 0px;
		margin-bottom: 0px;
		overflow: hidden;
		height: 100%;
	}
	.allEvents>ul>li{
		width: 345px;
		float: left;
		height: 100%;
		padding-left: 51px;
	}
	.allEvents>ul>li:first-child{
		background: url(../../img/index/草原赛事.png) no-repeat;
		background-size: cover;
	}
	.allEvents>ul>li>div.coming-soon{
		left: 32px;
		top: 0px;
		width: 175px;
		height: 137px;
		padding: 18px 16px 21px 29px;
	}
	.allEvents>ul>li>div.coming-soon>p:first-child{
		font-size: 14px;
	}
	.allEvents>ul>li>div.coming-soon>p:nth-child(2){
		font-size: 21px;
	}
	.allEvents>ul>li>div.coming-soon>hr{
		margin-top: 13px;
		margin-bottom: 8px;
		border-top: 1px dashed white;
	}
	.allEvents>ul>li>div.coming-soon>p:last-child{
		color: #282739;
		font-weight: 300;
		font-size: 12px;
		padding-right: 5px;
	}
	.allEvents>ul>li>div.event-content{
		
		bottom: 66px;
	}
	.allEvents>ul>li>div.event-content>p.year{
		font-size: 24px;
	}
	.allEvents>ul>li>div.event-content>h4{
		font-size: 21px;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.allEvents>ul>li>div.event-content>p.area{
		font-size: 14px;
		margin-bottom: 90px;
	}
	.allEvents>ul>li>div.event-content>p.area>i{
		width: 4px;
		height: 4px;
		margin-right: 5px;
		margin-left: 5px;
		top: -2px;
	}
	.allEvents>ul>li>div.event-content>div.time>span.data{
		font-size: 16px;
	}
	.allEvents>ul>li>div.event-content>div.time>span.week{
		font-size: 5px;
		top: -8px;
		left: 4px;
	}
	.allEvents>ul>li>div.event-content>div.time>span.year{
		font-size: 16px;
		border-bottom: 1px solid white;
		margin-left: 10px;
		margin-right: 17px;
	}
	.allEvents>ul>li:nth-child(2){
		background: url(../../img/index/沙漠赛事.png) no-repeat;
	}
	.allEvents>ul>li:nth-child(3){
		background: url(../../img/index/戈壁赛事.png) no-repeat;
	}
	.allEvents>ul>li:nth-child(4){
		background: url(../../img/index/草原2赛事.png) no-repeat;
	}
	.allEvents>ul>li>div.coming-soon.forward{
		top: 32px;
	}
	.allEvents>ul>li>div.forward>p:last-child{
		color: white;
		font-size: 21px;	
	}
	
	
	/*赛事详情*/
	.details{
		padding-top: 73px;
		padding-left: 91px;
		padding-right: 247px;
		right: 0rem;
		top: 0rem;
	}
	.details h4{
		font-size: 16px;
		position: relative;
		margin-bottom: 35px;
	}
	.details h4.about{
		width: 137px;
		line-height: 10px;
		border-bottom: 3px solid #F4BE3C;
	}
	.details>div>p{
		margin-bottom: 40px;
	}
	.details>div>div.introduce{
		margin-bottom:30px ;
	}
	.details>div>div.introduce>div>p.mile{
		font-size: 18px;
	}
	.details>div>div.introduce>div>p.mile>span.num{
		font-family: DIN-Condensed-Bold;
		font-size: 30px;
		margin-right: 12px;
	}
	.details>div>div.introduce>div>p.mile>span.mile-txt{
		opacity: 0.6;
	}
	.details>div>div.introduce>div>img{
		margin-top: 40px;
	}
	.details>div>div.event-origin>div>ul.caro{
		position: relative;
		width: 400px;
		height: 268px;
		margin-bottom: 20px;
	}
	.details>div>div.event-origin,.details>div>div.event-features,.details>div>div.introduce{
		padding-right: 27px;
	}
	.details>div>div.event-origin>div>img{
		margin-top: 50px;
		margin-bottom: 58px;
	}
	.details>div>div.event-features>div>img{
		margin-top: 0px;
		margin-bottom: 28px;
	}
	.details>div>div.event-features{
		margin-bottom: 30px;
	}
	.details>div>div.event-features>div>ul>li{
		margin-top: 10px;
	}
	.details>div>div.event-features>div>ul>li>i{
		width: 8px;
		height: 8px;
		border: 2px solid rgba(255, 255, 255, 1);
		margin-right: 8px;
		margin-left: 40px;
	}
	.details>div>div.event-origin>div>p{
		margin-left: 20px;
	}
	.details>div>div.event-origin>div>p.name{
			font-size: 16px;
	}
	.details>div>img{
		margin-bottom: 20px;
		/*width: 100%;*/
	}
	.details>div>p{
		font-size: 14px;
	}
}

/*移动端*/
@media only screen and (max-width: 768px) {
	/*赛事详情*/
	.allEvents{
		width: 100%;
		margin-top: 2rem;
	}
	.allEvents>ul{
		width: 100%;
		padding-left: 0rem;
	}
	.allEvents>ul>li{
		width: 100%;
		float: none;
		height: 6rem;
		padding:0.6rem 0rem 0.52rem 1.2rem;
	}
	.allEvents>ul>li:first-child{
		background: url(../../img/index/banner01.png) no-repeat;
		background-size: cover;
	}
	.allEvents>ul>li>div.coming-soon{
		top: 0rem;
		right: 1.36rem;
		width: 5rem;
		height: 3.92rem;
		padding: 0.52rem 0.48rem 0.6rem 0.52rem;
	}
	.allEvents>ul>li>div.coming-soon>hr{
		margin-top: 0.4rem;
	    margin-bottom: 0.24rem;
	    border-top: 0.04rem dashed white;
	}
	.allEvents>ul>li>div.coming-soon>p:first-child{
		font-size: 0.44rem;
	}
	.allEvents>ul>li>div.coming-soon>p:nth-child(2){
		font-size: 0.6rem;
	}
	.allEvents>ul>li>div.coming-soon>p:last-child{
		font-size: 0.44rem;
		padding-right: 0.4rem;
	}
	.allEvents>ul>li>div.event-content>p.year{
		font-size: 0.6rem;
	}
	.allEvents>ul>li>div.event-content>h4{
		font-size: 0.6rem;
	    margin-top: 0.2rem;
	    margin-bottom: 0.28rem;
	}
	.allEvents>ul>li>div.event-content>p.area{
		font-size: 0.4rem;
		margin-bottom: 1.6rem;
	}
	.allEvents>ul>li>div.event-content>p.area>i{
		width: 0.08rem;
	    height: 0.08rem;
	    margin-right: 0.2rem;
	    margin-left: 0.2rem;
	    top: -0.08rem;
	}
	.allEvents>ul>li>div.event-content>div.time>span.data{
		font-size: 0.48rem;
	}
	.allEvents>ul>li>div.event-content>div.time>span.week{
		font-size: 0.4rem;
		top: -0.36rem;
		left: 0.16rem;
	}
	.allEvents>ul>li>div.event-content>div.time>span.year{
		font-size: 0.4rem;
		border-bottom: 0.04rem solid white;
		margin-right: 0.4rem;
	}
	.allEvents>ul>li:nth-child(2),.allEvents>ul>li:nth-child(3),.allEvents>ul>li:nth-child(4){
		background: url(../../img/index/banner02.png) no-repeat;
		background-size: cover;
		filter: grayscale(100%);
	}
	
	/*赛事详情*/
}