
body{
	overflow-x: hidden;
	background: #282739;
	width: auto;
}
p{
	margin: 0 0 0 0 ;
}


/*全部赛事*/
.coming-soon{
	position: absolute;
	background: url('../../img/index/Group 7.svg') no-repeat;
	background-size: cover;
}
.allEvents>ul>li{
	position: relative;
	box-sizing: border-box;
}
.coming-soon>hr{
	opacity: 0.35;
}
.coming-soon>p:first-child{
    opacity: 0.6;
    font-weight: 300;
}
.coming-soon>p:nth-child(2){
	font-family: DIN-Condensed-Bold;
}
.event-content>p.year{
	font-family: DIN-Condensed-Bold;
	font-weight: 300;
	opacity: 0.6;
}
.event-content{
	color: white;
	position: absolute;
}
.event-content>p.area{
	opacity: 0.6;
	font-weight: 300;
}
.event-content>p.area>i{
    border-radius: 50%;
    background: white;
    position: relative;
}
.time>span.data{
	font-family: Georgia;
	
}
.time>span.week{
	display: inline-block;
	font-weight: 300;
	opacity: 0.6;
	transform: rotate(90deg);
	transform-origin: left;
	position: relative;
	font-family: Gilroy-Light;
}
.time>span.year{
	display: inline-block;
	font-family: Georgia;
	opacity: 0.6;
}
.zhezhao{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2B2A3E,#171628);
	opacity: 0.6;
}
.allEvents>ul>li>div.coming-soon.forward{
	background: none;
	color: white;
}

/*赛事详情*/
.details{
	overflow-y:auto ;
	overflow-x: hidden;
	color: white;
	font-weight: 300;
	box-sizing: border-box;
	position: absolute;
	
}
.details .title{
	display: flex;
	justify-content: space-between;
}
.details .title>li{
	opacity: 0.6;
}
.details .title>li.active{
	opacity: 1;
}
.details>div>div.introduce,.details>div>div.event-origin{
	display: flex;
	justify-content: space-between;
	
}
.details>div>div.introduce>div>ul{
	display: flex;
	padding-left: 0px;
}
.details>div>div.event-origin>div>ul.caro{
	position: relative;
}
.details>div>div.event-origin>div>ul.caro>li{
	position: absolute;
	top: 0px;
	bottom: 0px;
}

/*赛制/赛道介绍*/
.details .team-group>ul>li.now-group{
	width: 100%;
	background: linear-gradient(#F7D24C,#EE9E26);
	color: #282739;
}
.details .team-group>ul>li.now-group>p:first-child{
	font-weight: bold;
}
.details .team-group>ul>li{
	width: 100%;
	background-color: rgba(78, 77, 104, 1);
	box-sizing: border-box;
}
.details .team-grade ul{
	display: flex;
	justify-content: space-around;
}
.details .team-grade ul li{
	font-size: 16px;
	text-align: center;
}
.details .team-grade ul li img{
		margin-bottom: 10px;
}
.details .team-grade div{
	width:100%;
	/*height: 170px;*/
	border-radius: 5px;
	border: 1px dashed rgba(151, 151, 151, 1);
	padding: 30px 25px 21px 25px;
	margin-top: 18px;
	position: relative;
	margin-bottom: 50px
}
.details .team-grade div:before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #2B2A3E;
	border-top: 1px dashed  rgba(151, 151, 151, 1);
	border-left: 1px dashed rgba(151, 151, 151, 1);
	position: absolute;
	top: -7px;
	left: 75px;
	transform: rotate(45deg);
}
.details .way-introduce>ul.way{
	display: flex;
	justify-content: space-around;
}
.details .way-introduce>ul.way li img{
	height: 50px;
	margin-bottom: 15px;
}
.details .way-introduce>ul.way li p.mile{
	font-size: 16px;
}
.details .way-introduce>ul.way li p.mile span{
	font-family:  DIN-Condensed-Bold;
	font-size: 26px;
	margin-right: 5px;
}
.details .way-introduce>ul.way li p{
	font-size: 12px;
}
.details .way-introduce{
	width: 100%;
}
.details .way-introduce>ul.way-img{
	position: relative;
	text-align: center;
	width: 100%;
	height: 492px;
	
}
.details .way-introduce>ul.way-img li{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin-top: 70px;
}
.details .way-txt{
	background: linear-gradient(#F7D24C,#EE9E26);
	margin-left: 4px;
	margin-bottom: 40px;
	border-radius: 4px;
	color: #282739;
	font-size: 12px;
	font-weight: normal;
}
.details .way-txt .way-txt-intro{
	padding: 26px 247px 25px 91px;
	box-sizing: border-box;
	border-bottom: 2px solid #2D2C40;
}
.details .way-txt .way-icon{
	padding: 29px 247px 35px 91px;
}
.details .way-txt .way-icon>ul li{
	float: left;
}
.details .way-txt .way-icon>ul li img{
	margin-right: 5px;
}
.details .way-txt .way-icon>ul:first-child{
	padding-bottom: 24px;
	border-bottom: 1px dashed rgba(44,43,64,0.2);
}
.details .way-txt .way-icon>ul:first-child li{
	margin-left: 15px;
}
.details .way-txt .way-icon>ul:first-child li:first-child,.details .way-txt .way-icon>ul.start-end>li:first-child{
	margin-left: 0px;
}
.details .way-txt .way-icon>ul.start-end{
	margin-top: 20px;
}
.details .way-txt .way-icon>ul.start-end>li>p{
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
}
.details .way-txt .way-icon>ul.start-end>li{
	margin-left: 58px;
	
}
.details .way-txt .way-icon>ul.start-end>li>p>span{
	display: inline-block;
	width: 60px;
}

/*赛事简章*/
.details .event-date{
	margin-bottom: 30px;
}
.details .event-date .event-date-day1{
	margin-left: 30px;
	padding-bottom: 25px;
	border-bottom: 1px dashed rgba(151,151,151,0.4);
}
.details .event-date .event-date-day1:last-child{
	border-bottom: none;
}
.details .event-date .event-date-day1 div:first-child{
	margin-right: 39px;
}
.details .event-date .event-date-day1 h5{
	font-family: DIN-Condensed-Bold;
	font-size: 25px;
	margin-bottom: 0px;
}
.details .event-date .event-date-day1 p{
	font-size: 12px;
}
.details .event-date .event-date-day1 span{
	font-family: DIN-Condensed-Bold;
	font-size: 16px;
}
.details .event-date .event-date-day1 p.week{
	margin-top:6px;
	margin-left: -50px;
	font-size: 14px;
}
.details .event-date .event-date-day1>ul{
	width: 280px;
	box-sizing: border-box;
	border-left: 1px solid rgba(255,255,255,0.2);
	padding-left: 28px;
	position: relative;
	margin-top: 27px;
}
.details .event-date .event-date-day1>ul:before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 2px;
	background: white;
	position: absolute;
	top: 28px;
	left: -3%;
}
.details .event-date .event-date-day1>ul>li{
	margin-top: 20px;
	font-size: 14px;
}
.details .event-date .event-date-day1>ul>li>ul{
	font-size: 13px;
	margin-top: 5px;
}
.details .event-date .event-date-day1>ul>li>ul>li{
	margin-top: 5px;
}


/*PC端*/
@media only screen and (min-width: 768px){
	.navbar{
		background-color: rgba(23, 23, 32, 0.15);
		border: 1px solid rgba(146, 146, 146, 0.15);
	}
	.navbar.small-navbar{
		width: 120px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.navbar.small-navbar .container-fluid{
		padding-right: 0px;
		padding-left: 0px;
	}
	.navbar.small-navbar .navbar-header{
		width: 100%;
	}
	.navbar.small-navbar > .container-fluid .navbar-brand{
		margin-left: 0px;
		position: relative;
	}
	.navbar.small-navbar > .container-fluid .navbar-brand>img{
		margin-right: 0px;
		margin-top: 0px;
		position: absolute;
		left: 30%;
	}
	.navbar.small-navbar .navbar-brand>hr{
		width: 100%;
		left: 0px;
	}
	.navbar.small-navbar .nav-list{
		padding-right: 0px;
	}
	.navbar.small-navbar .nav-list li.page a{
		font-size: 12px;
		opacity: 0.6;
	}
	.navbar.small-navbar .navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar.small-navbar .nav-list li i{
		width: 125px;
		top: 35px;
	}
	.navbar.small-navbar .nav-list li{
		text-align: center;
	}
	.navbar.small-navbar .nav-list li.page span{
		font-size: 15px;
		opacity: 1;
	}
	.navbar.small-navbar .nav-bottom{
		left: 0px;
		border-top: none;
	}
	.allEvents{
		width: 84%;
	}
	.allEvents>ul{
		width: 1000%;
		padding-left: 0px;
		margin-bottom: 0px;
		overflow: hidden;
		height: 100%;
	}
	.allEvents>ul>li{
		width: 345px;
		float: left;
		height: 100%;
		padding-left: 51px;
	}
	.allEvents>ul>li:first-child{
		background: url(../../img/index/草原赛事.png) no-repeat;
		background-size: cover;
	}
	.coming-soon{
		left: 32px;
		top: 0px;
		width: 175px;
		height: 137px;
		padding: 18px 16px 21px 29px;
	}
	.coming-soon>p:first-child{
		font-size: 14px;
	}
	.coming-soon>p:nth-child(2){
		font-size: 21px;
	}
	.coming-soon>hr{
		margin-top: 13px;
		margin-bottom: 8px;
		border-top: 1px dashed white;
	}
	.coming-soon>p:last-child{
		color: #282739;
		font-weight: 300;
		font-size: 12px;
		padding-right: 5px;
	}
	.event-content{
		bottom: 66px;
	}
	.event-content>p.year{
		font-size: 24px;
	}
	.event-content>h4{
		font-size: 21px;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.event-content>p.area{
		font-size: 14px;
		margin-bottom: 90px;
	}
	.event-content>p.area>i{
		width: 4px;
		height: 4px;
		margin-right: 5px;
		margin-left: 5px;
		top: -2px;
	}
	.time>span.data{
		font-size: 16px;
	}
	.time>span.week{
		font-size: 5px;
		top: -8px;
		left: 4px;
	}
	.time>span.year{
		font-size: 16px;
		border-bottom: 1px solid white;
		margin-left: 10px;
		margin-right: 17px;
	}
	.allEvents>ul>li:nth-child(2){
		background: url(../../img/index/沙漠赛事.png) no-repeat;
	}
	.allEvents>ul>li:nth-child(3){
		background: url(../../img/index/戈壁赛事.png) no-repeat;
	}
	.allEvents>ul>li:nth-child(4){
		background: url(../../img/index/草原2赛事.png) no-repeat;
	}
	.allEvents>ul>li>div.coming-soon.forward{
		top: 32px;
	}
	.allEvents>ul>li>div.forward>p:last-child{
		color: white;
		font-size: 21px;	
	}
	
	
	/*赛事详情*/
	.details{
		width: 70%;
		height: 100%;
		padding-top: 73px;
		padding-left: 91px;
		padding-right: 247px;
		right: 0rem;
		top: 0rem;
	}
	.details h4{
		font-size: 16px;
		position: relative;
		margin-bottom: 35px;
	}
	.details h4.about{
		width: 137px;
		line-height: 10px;
	}
	.details>div>p{
		margin-bottom: 40px;
	}
	.details>div>div.introduce{
		margin-bottom:30px ;
	}
	.details>div>div.introduce>div>p.mile{
		font-size: 18px;
	}
	.details>div>div.introduce>div>p.mile>span.num{
		font-family: DIN-Condensed-Bold;
		font-size: 30px;
		margin-right: 12px;
	}
	.details>div>div.introduce>div>p.mile>span.mile-txt{
		opacity: 0.6;
	}
	.details>div>div.introduce>div>img{
		margin-top: 40px;
	}
	.details>div>div.event-origin>div>ul.caro{
		position: relative;
		width: 400px;
		height: 268px;
		margin-bottom: 20px;
	}
	.details>div>div.event-origin,.details>div>div.event-features,.details>div>div.introduce{
		padding-right: 27px;
	}
	.details>div>div.event-origin>div>img{
		margin-top: 50px;
		margin-bottom: 58px;
	}
	.details>div>div.event-features>div>img{
		margin-top: 0px;
		margin-bottom: 28px;
	}
	.details>div>div.event-features{
		margin-bottom: 30px;
	}
	.details>div>div.event-features>div>ul>li{
		margin-top: 10px;
	}
	.details>div>div.event-features>div>ul>li>i{
		width: 8px;
		height: 8px;
		border: 2px solid rgba(255, 255, 255, 1);
		margin-right: 8px;
		margin-left: 40px;
	}
	.details>div>div.event-origin>div>p{
		margin-left: 20px;
	}
	.details>div>div.event-origin>div>p.name{
			font-size: 16px;
	}
	.details>div>img{
		margin-bottom: 20px;
	}
	.details>div>p{
		font-size: 14px;
	}
	
	/*赛事/赛制介绍*/
	.details .team-group>ul>li.now-group{
		height: 160px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 25px 50px 46px 30px;
		font-size: 14px;
	}
	.details .team-group{
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom: 1px dashed rgba(151,151,151,0.4);
	}
	.details .team-group>ul>li.now-group>p:first-child{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.details .team-group>ul>li{
		height: 55px;
		padding: 17px 40px 16px 30px;
		font-size: 16px ;
	}
	.details .team-group>ul>li:last-child{
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.details .team-group>ul{
		margin-bottom: 20px;
	}
	.details>div{
		font-size: 14px;
	}
	#Events{
		display: block;
	}
	.mobile-events{
		display: none;
	}
	.details .title>li{
		font-size: 16px;
	}
	.details .title>li.active{
		font-size: 18px;
	}
	.details .title{
		width: 45%;
		margin:0 auto;
		margin-bottom: 43px;
	}
	.details>div>div.event-features{
		display: flex;
		justify-content: space-between;
	}
	.MECA p:last-child{
		float: right;
	}
}

/*移动端*/
@media only screen and (max-width: 768px) {
	/*赛事详情*/
	.allEvents{
		width: 100%;
		margin-top: 2rem;
	}
	.allEvents>ul{
		width: 100%;
		padding-left: 0rem;
	}
	.allEvents>ul>li{
		width: 100%;
		float: none;
		height: 6rem;
		padding:0.6rem 0rem 0.52rem 1.2rem;
	}
	.allEvents>ul>li:first-child{
		background: url(../../img/index/banner01.png) no-repeat;
		background-size: cover;
	}
	.allEvents>ul>li>div.coming-soon{
		top: 0rem;
		right: 1.36rem;
		width: 5rem;
		height: 3.92rem;
		padding: 0.52rem 0.48rem 0.6rem 0.52rem;
	}
	.allEvents>ul>li>div.coming-soon>hr{
		margin-top: 0.4rem;
	    margin-bottom: 0.24rem;
	    border-top: 0.04rem dashed white;
	}
	.allEvents>ul>li>div.coming-soon>p:first-child{
		font-size: 0.44rem;
	}
	.allEvents>ul>li>div.coming-soon>p:nth-child(2){
		font-size: 0.6rem;
	}
	.allEvents>ul>li>div.coming-soon>p:last-child{
		font-size: 0.44rem;
		padding-right: 0.4rem;
	}
	.event-content>p.year{
		font-size: 0.6rem;
	}
	.event-content>h4{
		font-size: 0.6rem;
	    margin-top: 0.2rem;
	    margin-bottom: 0.28rem;
	}
	.event-content>p.area{
		font-size: 0.4rem;
		margin-bottom: 1.6rem;
	}
	.event-content>p.area>i{
		width: 0.08rem;
	    height: 0.08rem;
	    margin-right: 0.2rem;
	    margin-left: 0.2rem;
	    top: -0.08rem;
	}
	.event-content>div.time>span.data{
		font-size: 0.48rem;
	}
	.event-content>div.time>span.week{
		font-size: 0.4rem;
		top: -0.36rem;
		left: 0.16rem;
	}
	.event-content>div.time>span.year{
		font-size: 0.4rem;
		border-bottom: 0.04rem solid white;
		margin-right: 0.4rem;
	}
	.allEvents>ul>li:nth-child(2),.allEvents>ul>li:nth-child(3),.allEvents>ul>li:nth-child(4){
		background: url(../../img/index/banner02.png) no-repeat;
		background-size: cover;
		filter: grayscale(100%);
	}
	
	/*赛事详情*/
	#Events{
		display: none;
	}
	.allEvents>ul>li.mobile-events{
		display: block;
		width: 100%;
		height: 2rem;
		background: url(../../img/index/banner01.png) no-repeat;
		background-size: 100% 100px;
		filter: grayscale(0%);
		text-align: center;	
	}
	.allEvents>ul>li.mobile-events>.zhezhao{
		z-index: -2;
	}
	.allEvents>ul>li.mobile-events>h1{
		color: white;
		display: inline-block;
		font-size: 0.56rem;
		position: relative;
	}
	.allEvents>ul>li.mobile-events>h1>span{
		margin-right: 0.12rem;
	}
	.allEvents>ul>li.mobile-events>h1:after{
		content: "";
		display: inline-block;
		opacity: 0.5;
		border-left: 0.2rem solid transparent;
	    border-right: 0.2rem solid transparent;
	    border-top: 0.25rem solid white;
	    position: absolute;
	    right: -1.2rem;
	    top: 30%;
	}
	.allEvents>ul>li.mobile-events>button{
		border: 1px solid white;
		background: transparent;
		opacity: 0.5;
		width: 2.48rem;
		height: 0.92rem;
		color: white;
		border-radius: 0.08rem;
		margin-left: 1.8rem;
		padding-right: 0.52rem 0.8rem 0.56rem 4.2rem;
	}
	.details .title>li{
		font-size: 0.48rem;
	}
	.details .title>li.active{
		font-size: 0.56rem;
	}
	.details{
		width: 100%;
		height: 91%;
		padding: 0rem 0.8rem 0rem 0.8rem;
		font-size: 0.4rem;
	}
	.details>div>img{
		width: 100%;
		margin-bottom: 0.4rem;
	}
	.details>div>div>img,.caro img{
		width: 8.2rem;
		height: 5.48rem;
	}
	.event-origin>div>img{
		width: 3.6rem;
		height: 1.28rem;
	}
	.details .title{
		width: 60%;
		margin:0 auto;
		margin-bottom:1.32rem;
	}
	.details h4 {
	    font-size: 0.52rem;
	    position: relative;
	    margin-bottom: 0.88rem;
	}
	.details h4.about{
		width: 4.2rem;
		line-height: 0.30rem;
		border-bottom: 0.08rem solid #F4BE3C;
	}
	.sun{
		width: 0.52rem;
		height: 0.52rem;
	}
	.details>div>div.introduce>div>p.mile>span.num {
	    font-size: 0.56rem;
	    margin-right: 0.2rem;
    }
    .details>div>div.introduce>div>img {
	    margin-top: 0.6rem;
	    width: 1.2rem;
	    height: 0.84rem;
	}
	.details>div>p {
	    margin-bottom: 1.2rem;
	}
	.details>div>div.introduce {
	    margin-bottom: 0.6rem;
	}
	.details>div>div.event-origin>div>ul.caro {
	    position: relative;
	    width: 8.2rem;
	    height: 5.48rem;
	    margin-bottom: 0.6rem;
	}
	.details>div>div.event-origin>div>img {
	    margin-top: 1rem;
	    margin-bottom: 0.92rem;
	}
	.page{
		position: static;
		bottom: 0rem;
		left: 0rem;
		display: flex;
	}
	ul.page>li>i{
	   width: 0.28rem;
	    height: 0.08rem;
	    opacity: 0.4;
	    background-color: rgba(255, 255, 255, 1);
	    margin-right: 0.2rem;
	}
	ul.page>li>span{
		display: none;
	}
	ul.page>li.active>i{
		width: 0.84rem;
		opacity: 1;
	}
	.details>div>div.event-features>img{
		width: 100%;
		height: 8.92rem;
	}
	.details>div>div.event-features>div>ul>li>i {
	    width: 8px;
	    height: 8px;
	    border: 2px solid rgba(255, 255, 255, 1);
	    margin-right: 8px;
	    margin-left: 40px;
	}
	.event-features>div{
		display: flex;
		justify-content: space-around;
	}
	.event-features>div>img{
		width: 50%
	}
	.details>div>div.event-features>div>ul{
		margin-top: 0.8rem;
	}
	.details>div>div.event-features>div>ul>li{
		margin-top: 0.16rem;
	}
	.details .team-group>ul>li.now-group {
	    height: 5.28rem;
	    border-top-left-radius: 0.08rem;
	    border-top-right-radius: 0.08rem;
	    padding: 0.52rem 0.88rem 1.2rem 0.6rem;
	    font-size: 0.48rem;
	}
	.details .team-group>ul>li.now-group>p:first-child {
	    font-size: 0.52rem;
	    margin-bottom: 0.2rem;
	}
	.details .team-group>ul>li {
	    height: 1.72rem;
	    padding: 0.48rem 0.8rem 0.48rem 0.6rem;
	    font-size: 0.52rem;
	}
	.details .team-group>ul {
	    margin-bottom: 0.8rem;
	}
	.details .team-group {
	    padding-bottom: 1.12rem;
	    margin-bottom: 1.12rem;
	    border-bottom: 0.04rem dashed rgba(151,151,151,0.4);
	}
	.details .team-grade ul li img {
	    margin-bottom: 0.2rem;
	    width: 2rem;
	    height: 1.6rem;
	}
	.details .team-grade ul li {
	    font-size: 0.52rem;
	}
	.details .team-grade div {
	    width: 100%;
	    border-radius: 0.12rem;
	    border: 0.04rem dashed rgba(151, 151, 151, 1);
	    padding: 0.84rem 0.48rem 0.44rem 0.84rem;
	    margin-top: 0.4rem;
	    margin-bottom: 1.2rem;
	}
	.details .team-grade div:before {
	    width: 0.2rem;
	    height: 0.2rem;
	    border-top: 0.04rem dashed rgba(151, 151, 151, 1);
	    border-left: 0.04rem dashed rgba(151, 151, 151, 1);
	    top: -0.16rem;
	    left: 1.4rem;
	}
	.details .way-introduce>ul.way li img {
		width: 2.92rem;
	    height: 1.04rem;
	    margin-bottom: 0.6rem;
	}
	.details .way-introduce>ul.way li p.mile span {
	    font-family: DIN-Condensed-Bold;
	    font-size: 0.56rem;
	    margin-right: 0.2rem;
	}
	.details .way-introduce>ul.way li p.mile {
	    font-size: 0.48rem;
	}
	.details .way-introduce>ul.way li p {
	    font-size: 0.44rem;
	}
	.details .way-introduce>ul.way-img{
		left: -3rem;
	}
	.details .way-txt {
	    margin-bottom: 1rem;
	    border-radius: 0.08rem;
	    font-size: 0.52rem;
	}
	.details .way-txt .way-txt-intro {
	    padding: 1rem 0.8rem 1rem 0.8rem;
	    border-bottom: 0.04rem solid #2D2C40;
	}
	.details .way-txt .way-icon {
	    padding: 0.68rem 1.28rem 1.36rem 0.8rem;
	}
	.details .way-txt .way-icon>ul:first-child li{
		width: 33.3%;
		margin-left: 0px;
		margin-top: 1rem;
	}
	.details .way-txt .way-icon>ul.start-end{
		width: 1000%;
	}
	.details .way-txt .way-icon>ul li img{
	    margin-right: 0.2rem;
	}
	.MECA p:last-child{
		float: left;
	}
	.details .event-date .event-date-day1 p.week {
	    margin-left: -1.04rem;
	}
}