.news{
	display: inline-block;
	width: 84%;
	color: white;
	padding-top: 40px;
}
.news h1{
	font-size: 18px;
	margin-left: 86px;
	margin-bottom: 40px;
}
.news>div{
	width: 100%;
	padding: 21px 119px 19px 86px;
	
}
.news-txt{
	width: 500px;
}
.news>div>div>div>img{
	widows: 120px;
	height: 80px;
	margin-right: 30px;
}
.news>div>div>div:first-child{
	margin-right: 53px;
	position: relative;
	margin-top: 10px;
}
.news>div>div>div>p.font-num{
	font-size: 19px;
	margin-bottom: 2px;
	margin-left: 5px;
}
.news>div>div>div:first-child:before{
	content: "";
	display: inline-block;
	width: 26px;
	border-top: 1px solid rgba(255,255,255,0.2);
	position: absolute;
	top: 26px;
	left: 0px;
	transform: rotate(-19deg);
}
p.title{
	font-size: 15px;
	margin-bottom: 14px;
}
.news>div>div>div>div>p.opacity6{
	width: 80%;
}
.news div.check>a{
	line-height: 60px;
}
.news .backColor{
	background: #34334A ;
}
ul{
	padding-left: 0px;
}

/*关于我们*/
.contact{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 522px;
	height: 100%;
	background-color: rgba(43, 42, 62, 1);
	color: white;
	z-index: 2;
}
.contact div.contact-information{
	padding: 50px 70px 65px 81px;
}
.contact h1{
	font-size: 18px;
	margin-bottom: 40px;
}
.contact div.contact-information>ul{
	padding-bottom: 15px;
	border-bottom: 1px dashed rgba(151,151,151,0.2);
	margin-bottom: 15px;
}
.contact div.contact-information>ul>li{
	float: left;
	
}
.contact div.contact-information>ul>li>span{
	margin-left:15px ;
	}
.contact div.contact-information>ul>li:first-child{
	width: 187px;
}
.contact div.contact-information>ul>li>ul,.committee>ul>li>ul{
	margin-top: 11px;
}
.contact div.contact-information>ul>li>ul>li,.committee>ul>li>ul>li{
	margin-top: 4px;
	
}
.contact div.contact-information>ul>li>ul>li>img,.committee>ul>li>ul>li>img{
	margin-right: 13px;
}

.committee>ul{
	display: flex;
	justify-content: space-between;
}

.partner{
	height: 248px;
	box-sizing: border-box;
	padding: 32px 98px 27px 83px;
	background: linear-gradient(#35344B 100%,#35344B 0%);
}
.partner .caro-icon{
	width: 50px;
	margin: 0 auto;
}
.partner ul{
	display: flex;
	justify-content: space-around;
}
.partner .caro-icon i{
	width: 10px;
	height: 2px;
	border-radius: 2px;
	background-color: rgba(216, 216, 216, 0.4);
	margin-right: 5px;
}
.partner .caro-icon i.active{
	width: 30px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
}
.partner ul li img:last-child{
	margin-top: 30px;
}	
.partner ul li:last-child img:last-child{
	margin-top: 15px;
}
@media only screen and (min-width:768px ) {
	.news .news-txt p:last-child{
		display: none;
	}
	.partner{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}

@media only screen and (max-width:768px ) {
	body{
		background: #2B2A3E;
	}
	.news .news-time{
		display: none;
	}
	.news .news-txt p:nth-child(2){
		display: none;
	}
	.news .news-txt{
		width: 8rem;
		text-align: left;
		font-size: 0.6rem;
	}
	.news{
		width: 100%;
		text-align: center;
		margin-top: 2rem;
		padding-top: 0.84rem;
	}
	.news h1{
		margin-left: 0rem;
		margin-bottom: 1rem;
	}
	.news>div {
	    height: 4.4rem;
	    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
	}
	.news>div>div>div>img{
		width: 4.8rem;
		height: 3.2rem;
		margin-right: 0.6rem;
	}
	.news div.check{
		display: none;
	}
	
	/*关于我们*/
	.shade{
		display: none;
	}
	.banner>ul>li>img{
		display: none;
		
	}
	.contact{
		width: 100%;
		height: 16.28rem;
		position: fixed;
		right: 0rem;
		bottom: 0px;
		top: auto;
		overflow: hidden;
	}
	.contact div.contact-information {
	    padding: 0.84rem 0px 0rem 0rem;
	    border-bottom: 0.04rem solid rgba(155,155,155,0.4);
	    margin-left: 1.2rem;
	}
	.contact div.contact-information>ul {
	    padding-bottom: 0.92rem;
	    border-bottom: none;
	}
	.partner{
		background: transparent;
		padding: 0.84rem 2.08rem 0rem 1.2rem;
	}
	.contact-information{
		width: 1000%;
	}
	.contact-information ul{
		float: left;
	}
	.contact div.contact-information>ul>li{
	    width: 187px;
	}
	.committee>ul>li{
		width: 140px;
	}
	.partner>ul{
		margin-left: 1.36rem;
	}
	.contact h1 {
	    font-size: 0.48rem;
	    margin-bottom: 1rem;
	}
	.banner li{
		background: url(../../img/icon/about-bj.png) no-repeat 0px 0px;
		background-size: 100% 57%;
	}
}